@model MvcCore.Models.FilmViewModel

<h1>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EpisodeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EpisodeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningCrawl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningCrawl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
    </dl>
</div>

<div>
    <partial name="_FilmRating" model="Model.Rating" />
</div>

@* //TODO: Pagination *@
<div>
    <h4>All ratings</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Ratings.FirstOrDefault().Nickname)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Ratings.FirstOrDefault().Rating)
                </th>
                <th class="col-md-7">
                    @Html.DisplayNameFor(model => model.Ratings.FirstOrDefault().Description)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Ratings.FirstOrDefault().CreatedOn)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rating in Model.Ratings)
            {
                <tr>
                    <td style="word-break: break-word">
                        @rating.Nickname
                    </td>
                    <td>
                        @rating.Rating
                    </td>
                    <td style="word-break: break-word">
                        @rating.Description
                    </td>
                    <td>
                        @rating.CreatedOn
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>